html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* prevents scrolling */
}

.game-container {
    height: 100vh;
    width: 100vw;
    background: #fff;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.river {
    position: absolute;
    background-color: rgb(0, 195, 255);
    opacity: 0.8;
    width: 100%;
    height: 5%;
    right: 0;
    top: 0;
}

.hospital {
    position: absolute;
    background-color: rgb(255, 161, 225);
    opacity: 0.8;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;
}